<!--<ion-header>-->
  <div class = 'header'>
  <div class= "logo" > <img src="../assets/img/header_login.png" size= 12></div>
</div>
<!--</ion-header><br> [disabled]="form.invalid"-->

<ion-content class="animated fadeIn login auth-page inicio">
  <div class="contenido">
      
 <form class = "centro" #form="ngForm" (ngSubmit)="verificar(form)"> 
  <ion-grid >
    <div class="form" >
      <ion-col align-self-center size-md="5" size-lg="10" size-xs="10"> 
          <ion-item >
            <ion-input name="correo" type="email" placeholder="Correo Electrónico" ngModel required></ion-input>
          </ion-item><br>  
          <div class = "espacio"></div>
          <ion-item>
            <ion-input name="contrasena" type="{{showPass ? 'text' : 'password'}}" placeholder="Contraseña" ngModel required></ion-input>
            <button ion-button type="button" clear color="dark" item-right (click)="togglePasswordClick()">
              <ion-icon class="icono-input" text-right  id="iconIntro" [name]="passwordToggleIcon" style="zoom:2.0;"></ion-icon>
            </button>
          </ion-item>
          <p style="color: var(--ion-color-naranja-oscuro); padding: 0px;" class=ion-text-right (click)="contrasena()">
          <!--<ion-label style="color: var(--ion-color-naranja-oscuro);">-->¿Olvidaste tu contraseña?<!--/ion-label-->
      </p>
      </ion-col>
    </div>
    <div class="button" >
      <img src="../assets/img/btn_fb.png" (click)="facebook()" >
      <!--
      <ion-button size="large" expand = "block" class = "button-fb" (click)="facebook()">
        <img src="../assets/img/btn_fb.png" >
      </ion-button>-->
    </div><br>
  </ion-grid >
  <!--<div class="ion-text-center" style="color: var(--ion-color-naranja-oscuro);" ><p class = "letras">¿Eres nuevo? <strong class="fuente-color" ><a style="color: var(--ion-color-naranja-oscuro);" routerLink='/registro'>Registrate aquí</a></strong></p></div>-->
  <div class="ion-text-center"  ><p class = "letras">¿Eres nuevo? <a class= "ruta" routerLink='/registro'>Registrate aquí</a></p></div>
  <ion-footer>
    <!--<router-link class="routerLink" to='/registro'>Registrate aquí</router-link>-->
<!--<ion-toolbar >-->
  <div>
    <ion-button class = "inicio" size="large" type="submit"  expand="full">Iniciar Sesión</ion-button>
  </div>
<!--</ion-toolbar>-->
</ion-footer>
</form>
</div>
</ion-content> 
