*{
    font-family: 'MyriadProSemibold' !important;
}

.header{
    padding: 0px 0px 0px 0px !important;
    height: 43%;
}
ion-footer{
    margin: 0 auto;
}

ion-toolbar{
    --background: var(--ion-color-naranja-oscuro);
    //--background: linear-gradient(to left top,var(--ion-color-naranja-oscuro),var(--ion-color-naranja-claro));
    //height: 120%;
}


ion-title{
    /*width: auto;*/
    --color: #fff;
    width: 100%; 
    position: absolute; 
    left: 0; 
    height: 0%;
}
ion-item{
    padding: 0px 0px 0px 0px;
    --background: #e7e7e7;
    --color: rgb(112, 106, 106);
    border-radius: 10px;
    font-size: 0.8rem;
    height:30% !important;
    --highlight-height: 0.5px !important;
}
ion-button.inicio{
    padding: 0px 0px 0px 0px !important;
    --background: var(--ion-color-naranja-oscuro);
    font-size: 0.8rem;
    width: 100%;
}
/*
ion-button.button-fb{
    --background: #4e71ba!important;
    border-style: none !important;
}*/

.button  > img {
    width: 100%;
    border-radius: 5px;
    border: #4e71ba 1px solid;
}


.logo2{
    text-align: center;
    padding: 68px;
    width: 300%;
}
.logo > img{
    margin: 0 auto;
    //margin: auto;
    //width: 300%;
    //height: 180%;
    //margin: auto;
    //width: 80%;
    //height: 120%;
}

.form{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 35px 0px 19px 0px;
    //padding: 40px 0px 40px 0px;

}


.logo{
    z-index:1;
    //width: 100%
    //position:relative;
}

div.ion-text-center{
    padding: 0px 37px 0px 37px;
    margin: 0 auto;
    //--background:white !important; 
    width:100%;
}
.letras {
    color:#FE3A00;
    font-family: "MyriadPro-Light"!important;
    font-size: 0.8rem;
    
}

.ruta{
    text-decoration: none; 
    color:#FE3A00;
    font-size: 0.8rem;
}

.ion-text-right{
    padding: 0px 0px 0px 0px!important;
    font-family: "MyriadPro-Light"!important;
    font-size: 0.8rem;
}

 .button{
    //text-align: center;
    padding: 0px 45px 0px 40px;
    margin: 0 auto;
    //--background:white !important; 
    width:80%;
}

ion-content{
    //padding: 0px 0px 0px 0px !important;
}

.espacio{
    padding-top: 10px;
    padding-bottom: 10px;
}

.sesion{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-footer{
    height: 100%;
    margin: 0 auto;
}