<!--<ion-header>-->
  <div class = 'header'>
    <div class= "menu_hamburguesa"><ion-menu-button menu="main-menu"></ion-menu-button></div>
    <!--<div class ="btn_regresar"> <img src="../assets/img/regresar.png"  (click)="regresar()"> </div>-->
    <!--<ion-buttons slot="start"><ion-menu-button color="primary" menu="main-menu"></ion-menu-button></ion-buttons>-->
    <div class= "headerR" > <img src="../assets/img/logo.png" size= 12></div>
    <div class= "carrito_logo"><img [src]="carrito ? carrito :'../assets/img/carrito.png'" (click)="changeCart()"><!--<div class="numero">{{number}}</div>--></div>
  </div>