ion-toolbar{
    --background: linear-gradient(to left,var(--ion-color-naranja-oscuro),var(--ion-color-naranja-claro));
    border: none!important; 

} 
ion-header{
    border: 0!important;
}


*{
    font-family: 'MyriadProSemibold' !important;
}

.col_menu{
    text-align: center;
}

.menu_burguer{
    text-align: center;
    padding: 50% 0% 0% 40%;
    margin:auto;

}


.menu_hamburguesa > img{
    /*width: 120%;
    height: 180%;
    padding: 50% 0% 0% 40%;*/
    height: 6%;
    width: 6%;
    float:left;
}

.col_logo{
    text-align: center;
}

.logo{
    text-align: center;
    padding: 5% 0% 0% 0%;
    margin: auto;
}

.logo > img{
    margin: auto;
    width: 80%;
    height: 150%!important;
}

.col_carrito{
    text-align: center;
}

.carrito_logo{
    /*text-align: center;
    padding: 50% 40% 0% 0%;
    margin:auto;*/
    float: right;;
    position:absolute;
    top:25px;
    right:25px;
    margin-left: 6rem;
}

.carrito_logo > img{
    /*width: 90%;
    height: 150%;*/
    height: 10%;
    width: 10%;
    float: right;;
}
.half-circle {
   display: grid;
   
}
.menu_hamburguesa{
  float:left;
  position:absolute;
  top:25px;
  left:25px;
}

.header{
    height: 20%!important;
}

.headerR >img{
    width: 100%;
}

ion-menu-button{
    --color: white;
}


.btn_regresar{
    float:left;
    position:absolute;
    top:20px;
    left:10px;
  }

  .numero{
    position: absolute;
    left: 15rem;
    top: -0.9rem;
    color: white;
    font-size: 0.9rem;

}