<app-header></app-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="activar()"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="desactivar()"><ion-icon name="close-circle-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div class = "contenedor">
    

    
    <ion-label class="titulo">Notificaciones</ion-label>
    <div class =  "contenedor-noti" *ngFor="let noti of notificaciones">
      <div class = "noti">
        <div class="imagen-aviso"><img class = "aviso" src="../assets/img/notificaciones_naranja.png" size= 6></div>
        
        <div class = "contenido">
          <div class = "asunto">{{noti.asunto}}</div>
          <div class = "mensaje">{{noti.mensaje}}</div>
        </div>
        <div class = "fecha">
          {{noti.fecha|date:"dd/M/y"}}
        </div>
      </div>
      
    </div>
  </div>
</ion-content>

<app-footer></app-footer>