*{
    font-family: 'MyriadProSemibold' !important;
}

.oferta{
    position: relative;
    bottom: 20px;
    height: 5rem;
    width: 8rem;
}

.oferta img {
    height: 10rem;
    width: 10rem;
    padding-bottom: 30px;
    padding-left: 20px;
}

.titulo{
    font-family: var(--ion-font-family);
    font-weight: bold;
    font-size: larger;
    color: var(--ion-color-azul-oscuro);
    font-size: 1.6rem;
}

.contenedor-page{

    padding-left: 35px;
    padding-right: 25px;
}

.contenedor{
    padding-top: 25px;
}

.div-oferta{
    display: flex;
     flex-flow: row nowrap; /* Align on the same line */
    justify-content: space-around; 
    vertical-align: middle;
    box-shadow: 5px 5px 5px 5px #c2c2c2;
    border-radius: 20px;
    height: 130px;

}

.contener-columna-centrar{
    float: right;
    position: relative;
    width: 30%;
    padding: 0px 0px 0px 0px;
    text-align: right;
    justify-content: flex-end;
}

.precio{
     display: flex;
     flex-flow: row nowrap;
     color: var(--ion-color-naranja-oscuro);
    font-weight: bolder;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
    .original{
        text-decoration:line-through ;
        color: var(--ion-color-gris-oscuro);
        position: relative;
        padding-left: 10px;
        padding-right: 5px;
        padding-top: 4px;
        text-align: right;
        font-size: 0.8rem;
        /*-moz-transform:rotate(-10deg);
        -ms-transform:rotate(-10deg);
        -o-transform:rotate(-10deg);
        transform:rotate(-10deg);*/
    }
    .descuento{
        color: var(--ion-color-naranja-oscuro);
        position: relative;
        padding-left: 0px;
        padding-right: 0.5rem;
        text-align: right;
        font-size: 1rem;
        
    }
}

.nombre-oferta{
    font-family: var(--ion-font-family);
    font-weight: bold;
    color: var(--ion-color-azul-oscuro);
    font-size: 0.7rem;
    position: relative;
    top:20px;
    right: 10px;
    padding-left: 20px;
    //position: absolute;
}

.oferta-carrito{
    padding-top: 50px;
    text-align: right;
    padding-right: 0.8rem;
}

.contener-oferta{
    padding:20px 0px;
}