<app-header></app-header>

<ion-content>
<h2 class="Titulo">Carrito</h2>
<ion-row class="Total">
  <ion-col size=8 class="A_pagar_header">Total a Pagar:</ion-col>
  <ion-col size=4 class="A_pagar">$ 3,65</ion-col>
</ion-row>
<ion-list>
  <ion-card>


      <ion-row class="agregar" size=5>

        <ion-col size=3>
          <ion-img src="../assets/img/comida.png" class="foto_producto"></ion-img>
        </ion-col>
  
        <ion-card-title class="nombre_producto">
          Carne
        </ion-card-title>

        <ion-col size=2 >
          <ion-button color="medium" fill="clear" (click)="decreaseCartItem(p)" class="mas">
            <ion-img src="../assets/img/agregar.png"></ion-img>
          </ion-button>
        </ion-col>

        <ion-label class="cantidad" size=2>
                  1
        </ion-label>

        <ion-col size=2 >
          <ion-button color="medium" fill="clear" (click)="increaseCartItem(p)" class="menos">
            <ion-img src="../assets/img/restar.png" ></ion-img>
          </ion-button>
        </ion-col>
        <ion-col size=2 class="unitario">
          $1,16
        </ion-col>
      </ion-row>
  
    
  </ion-card>
</ion-list>
  <ion-img src="../assets/img/pagar.png" class="pagar"></ion-img>
</ion-content>

<app-footer></app-footer>
