*{
    font-family: 'MyriadProSemibold' !important;
}

.Titulo{
    padding: 0% 0% 0% 5%;
    color: var(--ion-color-azul-oscuro);
    //font-family: Arial;
    //font-weight: bold;
    font-size: 2rem;
}

ion-row{
    padding-bottom: 60px;
    height: 25px!important;
}


.A_pagar_header{
    color: #2b85cd;
    text-align: right;
    //font-style: oblique;
    //vertical-align: middle;
    //line-height: 90px;
    font-size: 80%;
    padding-top: 22px;
}

.A_pagar{
    color:#FE3A00;
    font-size: 2rem;
    text-align: left;
    //font-weight: bold;
    //vertical-align: middle;
    //line-height: 90px;
}

.agregar{
    margin: auto;
    display: flex;
    flex-flow: row nowrap; /* Align on the same line */
    justify-content: space-around; 
    vertical-align: middle;
    box-shadow: 5px 5px 5px 5px #c2c2c2;
    border-radius: 20px;
    height: 130px;
}

.col_unitario{
    margin: auto;
    text-align: center;
}

.unitario{
    color:#FE3A00;
    font-family: Arial;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;

}

.col_foto_producto{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    margin: auto;
    padding: 0% 0% 0% 0%;
}

.foto_producto{
    height: 120%;
    width: 120%;
    padding: 0% 15% 0% 0%;
}

.borrar_content{
    width: 1rem;
    height: 1rem;
    left:18rem;
    top:1rem;
    position: relative;
    //display: flex;
    //justify-content: flex-end;
    text-align: right!important;
    //margin: 0% 0% 0% 80%;
}

.borrar_content > img{
    height: 1rem;
    width: 1rem;
}


.nombre_producto{
    font-family: Arial;
    font-weight: bold;
    color: var(--ion-color-azul-oscuro);
    font-size: 115%;
    display: inline-flex;
}

.cantidad{
    width: 30px !important;
    height: 30px !important;
    border-radius: 5px;
    border: solid 1px gray;
    vertical-align: middle !important;
    font-size: 12px;
    text-align: center !important;
    padding-top: 0.4rem;
}

.cantidad_content{
    margin: auto;
    text-align: center;
    display: inline-flex;
}

.pagar{
    position: relative;
    bottom: 0;
    right: 0;
    margin: 0% 5% 0% 0%;
    height: 6rem;
    width: 6rem;
    padding: 20px 20px 20px 20px;
}

.restar{
    margin-left:  12px;
    
}


.restar_content{
    margin:auto;
    vertical-align: middle;
    line-height: 90px;
    text-align: center;
    display: inline-flex;
}

.sumar{
    margin-right:  12px;
}

.sumar_content{
    margin:auto;
    vertical-align: middle;
    line-height: 90px;
    text-align: center;
    display: inline-flex;
}


.row_detalles{
    display: inline-flex;
    
}

.card{
    margin: auto;
    display: flex;
    flex-flow: row nowrap; /* Align on the same line */
    justify-content: space-around; 
    vertical-align: middle;
}


ion-header{
    height: 10px;
    width: 100%;
}



.titulo{
    font-family: var(--ion-font-family);
    font-weight: bold;
    font-size: larger;
    color: var(--ion-color-azul-oscuro);
    font-size: 1.7rem;
}


.icono{
    position: relative;
    right: 10px;
    width: 20px;
    height: 20px;
}

ion-toolbar{
    --background: linear-gradient(to left,var(--ion-color-naranja-oscuro),var(--ion-color-naranja-claro));
}


ion-input{
    font-weight: bold;
}

.div-producto{
    display: flex;
    flex-flow: row nowrap; /* Align on the same line */
    justify-content: space-around; 
    vertical-align: middle;
    box-shadow: 5px 5px 5px 5px #c2c2c2;
    padding: 0px 0px 0px 0px;
    border-radius: 20px;
    height: 130px;


}
.producto-carrito{
    // display: flex;
    // vertical-align: bottom;
    // justify-content: end;
    // width: 100%;
    top:1.5rem;
    position: relative;
    display: -webkit-inline-box;
    text-align: center;
    vertical-align: middle;
    //left: 12rem;
    //right: 30px;
    //bottom:150px;
    //padding-bottom: 100px ;
    
}

.btn-producto{
vertical-align: middle;

}

#mas{
    margin-right:  12px;
}
#menos{
        margin-left:  12px;

}

.contener-producto{
    padding:10px 20px 10px 20px;
        // height:  100px;

}

.contener-columna{
    display: block;
}

.nombre-producto{
     font-family: var(--ion-font-family);
    font-weight: bold;
    color: var(--ion-color-azul-oscuro);
    font-size: 14px;
    position: relative;
    top:27px;
    right: 0rem;
    //padding-left: 100rem;
    left: 0rem;
    
    
}

.producto{
    position: relative;
    //bottom: 20px;
    //height: 5rem;
    //width: 8rem;
    padding-top:1.5rem;
    left: 0rem;
    //padding-left: 0.5rem;
}

.producto >img {
    height:80px!important ;
    width: 90px!important;
    //padding-bottom: 5px;
    //box-shadow: 3px 3px 3px 3px #c2c2c2;
}

.detalle{
    position: relative;
    bottom: 0px;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    color: #2153FF;
}

.nombre{
    //text-align: justify;
    width: 80px;
    height: 80px;
    //padding-left: 20px;
    font-size: 1rem;
    padding-top: 0px;
    left:0rem;
}

.nombre h6{
    padding-top: 0rem;
    text-align: justify;
    text-justify: inter-word;
}


.precio{
    color: var(--ion-color-naranja-oscuro);
    font-weight: bolder;
    //font-size: small;
    position: relative;
    //right:  3px;
    padding-left: 0rem;
    padding-right: 25px;
    text-align: center;
    display: inline-flex;
    
}

div.precio h4{
    position: relative;
    //padding-left: 1rem;
    text-align: center;
    font-size: 1rem;
        //padding-right: 20px;
    //padding-right: 30px;

}

div.carrito img{
    //position: relative;
    position: absolute;
    top: 95px;
    width:1.6rem !important;
    height:1.3rem!important ;
    //left: 3px;
    //text-align: right;
    right: 2rem;
}

.centrar{
    width: 70px;
}

.contener-columna-centrar{
    float: right;
    position: relative;
    width: 5rem;
    //padding: 0px 0px 0px 0px;
    text-align: right;
    justify-content: flex-end;
    padding-top: 2.7rem;
}

.contener-columnaI{
    float: left;
    position: relative;
    //paddin-left: 20px;
    padding-left: 0px;
    text-align: left;
    justify-content: flex-end;
}


.contenedor-centro{
    padding-top: 3.5rem;
    //padding-left: 22rem;
    float: center;
    position: relative;
    //width: 1rem;
    ///padding: 0px 0px 0px 0px;
    //text-align: center;
    justify-content: flex-end;
    width:5rem;
}

.btns{
    text-align: center;
    display: flex;
    .btn-regresar{
        //padding: 25px 20px 20px 25px;
        text-align: left;
        width: 7rem;
    }

    .espacio{
        width: 7rem;
    }
    .btn-pagar{
        text-align: right;
        

    }
}

.atras{
    position: absolute;
    //bottom: 0;
    //right: 0;
    //margin: 0% 5% 0% 0%;
    height: 4.5rem;
    width: 4.5rem;
    top:0;
    left:15.5rem;
    padding: 20px 20px 20px 20px;
}

.btn_regresar{
    text-align: center;
    display: flex;
    text-align: right;
}