<app-header></app-header>
<!---->
<ion-content>
<h2 class="Titulo">Carrito</h2>
<ion-row class="Total">
  <ion-col size=8 class="A_pagar_header">Total a Pagar:</ion-col>
  <ion-col size=4 class="A_pagar">$ 3,65</ion-col>
</ion-row>


<div>
  <div class="contener-producto"  *ngFor="let productos of cart">
      <div class="div-producto">
        <div class = "borrar_content"><img src="../assets/img/borrar.png" class="borrar"></div>
          <div class="contener-columnaI">
              <div class="producto">
                  <img name="imagen" src="http://cabutoshop.pythonanywhere.com{{productos.imagen_producto}}"  >
              </div>
          </div>
          <div class="contener-columna">
              <div class="nombre">
                  <h6 class="nombre-producto" name="nombre">{{productos.nombre_producto}}</h6>
              </div>
          </div>
          <div class = "contenedor-centro">
            <div class="producto-carrito">
              <img src="../assets/img/agregar.png" width="10" height="10" class="btn-producto" id="mas" (click)= agregar(productos.nombre_producto)>
              <input type="text" tag = "barra" name="" id="{{productos.nombre_producto}}" disabled="true" class="cantidad" placeholder="{{productos.cantidad}}" value  = "{{productos.cantidad_producto}}" >
              <img src="../assets/img/restar.png" width="10" height="3" class="btn-producto" id="menos" (click)= quitar(productos.nombre_producto)>
          </div>
          </div>
          <div class="contener-columna-centrar">
              <div class="precio">
                  <h4 name="precio">${{productos.subtotal}}</h4>
              </div>
          </div>
      </div>
  </div>
</div>
</ion-content>
<app-footer></app-footer>



<!--<ion-col size=5>
  <ion-card-title class="nombre_producto" size=8>
    Carne
  </ion-card-title>
</ion-col>
<ion-col size=4>
  <ion-row>
    <ion-col size=4 >
      <ion-img src="../assets/img/agregar.png" (click)="decreaseCartItem(p)" class="mas"></ion-img>
    </ion-col>
    <ion-label class="cantidad" size=2>
          1
    </ion-label>
    <ion-col size=1 >
        <ion-img src="../assets/img/restar.png" (click)="increaseCartItem(p)" class="menos"></ion-img>
    </ion-col>
  </ion-row>
</ion-col>
<ion-col size=3>
  
  <ion-col size=3 class="unitario">
    $1,16
  </ion-col>
</ion-col>-->