<app-header></app-header>
<ion-content>
<h2 class="Titulo">Carrito</h2>
<ion-row class="Total">
  <ion-col size=8 class="A_pagar_header">Total a Pagar:</ion-col>
  <ion-col size=4 class="A_pagar">$ 3,65</ion-col>
</ion-row>
<ion-list >
  <ion-card *ngFor="let productos of cart">
      <ion-row class="agregar">
        <ion-col size=3 class="col_foto_producto">
          <ion-img src="http://cabutoshop.pythonanywhere.com{{productos.imagen}}" class="foto_producto"></ion-img>
        </ion-col>
        <ion-col size=9 class="detalle">
          <ion-row >
            <ion-button class="borrar_content" color="medium" fill="clear">
              <ion-img src="../assets/img/borrar.png" class="borrar"></ion-img>
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-card-title class="nombre_producto">
              {{productos.nombre}}
            </ion-card-title>
          </ion-row>
          <ion-row>
            <ion-col size=8>
              <ion-row class="row_detalles">
                  <ion-button class="restar_content" color="medium" fill="clear">
                    <ion-img src="../assets/img/restar.png" class="restar" (click)= quitar(productos.nombre)></ion-img>
                  </ion-button>
                  <input type="text" tag = "barra" name="" id="{{productos.nombre}}" disabled="true" class="cantidad" placeholder="{{productos.cantidad}}" value  = "{{productos.cantidad}}" >
                  <ion-button  class="sumar_content" color="medium" fill="clear">
                    <ion-img src="../assets/img/agregar.png" class="sumar" (click)= agregar(productos.nombre)></ion-img>
                  </ion-button>
              </ion-row>
            </ion-col>
            <ion-col size=4 class= "col_unitario">
              <ion-label class="unitario">
                ${{productos.subtotal}}
              </ion-label>
            </ion-col> 
          </ion-row>
        </ion-col>
      </ion-row>
  </ion-card>
</ion-list>
  <ion-img src="../assets/img/pagar.png" class="pagar"></ion-img>
  <ion-button style="--background: var(--ion-color-naranja-oscuro)" (click)= regresar()>Regresar</ion-button>
</ion-content>
<app-footer></app-footer>



<!--<ion-col size=5>
  <ion-card-title class="nombre_producto" size=8>
    Carne
  </ion-card-title>
</ion-col>
<ion-col size=4>
  <ion-row>
    <ion-col size=4 >
      <ion-img src="../assets/img/agregar.png" (click)="decreaseCartItem(p)" class="mas"></ion-img>
    </ion-col>
    <ion-label class="cantidad" size=2>
          1
    </ion-label>
    <ion-col size=1 >
        <ion-img src="../assets/img/restar.png" (click)="increaseCartItem(p)" class="menos"></ion-img>
    </ion-col>
  </ion-row>
</ion-col>
<ion-col size=3>
  
  <ion-col size=3 class="unitario">
    $1,16
  </ion-col>
</ion-col>-->