<app-header></app-header>

<ion-content>
<div class= "contenedor">
  <ion-label class="titulo">Cupones</ion-label>
  <div class="contenedor-cupones" *ngFor="let cupones of cupon">
    <div class="contenedor-imagen">
      <!--<img name="imagen" src="http://cabutoshop.pythonanywhere.com{{cupon.imagen}}"  >-->
    <img name="imagen" src="../assets/img/cupon1.png"  >
    </div>
    <div class="contenedor-imagen">
      <!--<img name="imagen" src="http://cabutoshop.pythonanywhere.com{{cupon.imagen}}"  >-->
    <img name="imagen" src="../assets/img/cupon2.png"  >
    </div>
  </div>
</div>
</ion-content>

<app-footer></app-footer>