/*.logo{
    display: flex;
    justify-content: center;
   
    
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
*/

.header .toolbar-title{
    text-align: center;
    text-indent: -45px;
}