/*.logo{
    display: flex;
    justify-content: center;
   
    
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
*/

.titulo{
    font-family: var(--ion-font-family);
    font-weight: bold;
    font-size: larger;
    color: var(--ion-color-azul-oscuro);
}


.icono{
    width: 20px;
    height: 20px;
}

ion-toolbar{
    --background: linear-gradient(to left,var(--ion-color-naranja-oscuro),var(--ion-color-naranja-claro));
}


.contenedor-searchbar{
    display: flex;
align-items: center;
    background: var(--ion-color-gris-claro);
    color: var(--ion-color-gris-oscuro);
    border-radius: 5px;  
    height: 40px; 


}

.contenedor{
    padding: 30px 0px;
}

ion-input{
    font-weight: bold;
}

.contenedor-page{
    padding: 20px 30px;
}

.contenedor-filtro{
    padding: 20px 0px;
    display: flex;
    justify-content: flex-end;
}

.selector{
    font-family: var(--ion-font-family);
    font-weight: bold;
    font-size: medium;
    color: var(--ion-color-azul-oscuro);
    background: var(--ion-color-gris-claro);
padding: 10px 20px;
    border-radius: 5px;  
    vertical-align: middle;

}

.subtitulo{
    color: var(--ion-color-gris-oscuro);
    font-weight: lighter;
    padding: 0px 10px 0px 0px;
}

.div-producto{
    display: flex;
     flex-flow: row nowrap; /* Align on the same line */
  justify-content: space-around; 
vertical-align: middle;
    box-shadow: 0px 10px 58px 0px rgba(51,45,51,1);
//padding: 20px 0px;
    border-radius: 10px;
    height: 120px;


}
.producto-carrito{
    display: flex;
    vertical-align: bottom;
    justify-content: end;
    width: 100%;
}

.btn-producto{
vertical-align: middle;}

.estilo-cantidad{
    width: 20px;
    height: 20px;
}
.contener-producto{
    padding:20px 0px;
        // height:  100px;

}

.contener-columna{
    // display: inline;
}

.nombre-producto{
     font-family: var(--ion-font-family);
    font-weight: bold;
    font-size: medium;
    color: var(--ion-color-azul-oscuro);
}