<ion-buttons slot="end">
  <ion-button (click)="dismiss()">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
</ion-buttons>
<ion-content class="padding">
  <div #mapaUbicacion class="mapa">

  </div>
  <ion-label>Nombres</ion-label>
  <ion-item>
    <ion-input id="1" name="direccion" type="text" placeholder="Nombre*" ngModel required></ion-input>
  </ion-item>
  <ion-label>Apellidos</ion-label>
  <ion-item>
    <ion-input id="2" name="descripcion" type="text" placeholder="Apellido*" ngModel required></ion-input>
  </ion-item>
</ion-content>