.btn-salir img{
    height: 0.6rem;
    width: 0.6rem;
}


.btn-salir{
    text-align: right !important;
    padding: 20px 20px 10px 10px;
}

.img-correcto img{
    height: 9em;
    margin-top: 10px;
}

.titulo{
    margin-top: 10px;
    //color:#0F195E !important;
    font-size: 1.3rem;
}

.mensaje{
    margin: 25px 20px 20px 20px;
    color:#87868A !important;
    font-size: 0.9rem;
}